<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Tipo de Media</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #4b0082;
            color: white;
            padding: 20px;
            text-align: center;
        }

        h2 {
            color: #4b0082;
            margin-left: 20px;
        }

        section {
            padding: 20px;
        }

        form {
            background-color: #e6e6fa;
            padding: 20px;
            border-radius: 5px;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        select, input[type="text"], input[type="radio"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"], .btn {
            background-color: #9370db;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            display: inline-block;
            text-decoration: none;
            text-align: center;
        }

        input[type="submit"]:hover, .btn:hover {
            background-color: #6a5acd;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            text-align: center;
            color: white;
            text-decoration: none;
        }

        .btn-volver {
            background-color: #4b0082;
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Tipo Media</h1>
<h2>Crear</h2>
<a href="/admin/tipomedia/listar" class="btn btn-volver">Volver al listado de tipo media</a>

<section>
    <form action="/admin/tipomedia/create" method="post">
        <label for="tipoMedia">Tipo Media</label>

        <fieldset>
            <legend>Media</legend>


            <label for="nombre"> Nombre</label>
            <input id="nombre" name="nombre" type="text">

            <label for="activo"> Activo</label>
            <input id="activo" name="activo" type="radio" value="1">
            <label for="Inactivo"> Inactivo</label>
            <input id="Inactivo" name="activo" type="radio" value="0">

        </fieldset>
        <input type="submit" value="Crear">

    </form>
</section>


</body>
</html>