<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nuevo Media</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #4b0082;
            color: white;
            padding: 20px;
            text-align: center;
        }

        h2 {
            color: #4b0082;
            margin-left: 20px;
        }

        section {
            padding: 20px;
        }

        form {
            background-color: #e6e6fa;
            padding: 20px;
            border-radius: 5px;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        select, input[type="text"], input[type="radio"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"], .btn {
            background-color: #9370db;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            display: inline-block;
            text-decoration: none;
            text-align: center;
        }

        input[type="submit"]:hover, .btn:hover {
            background-color: #6a5acd;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            text-align: center;
            color: white;
            text-decoration: none;
        }

        .btn-volver {
            background-color: #4b0082;
            margin-right: 10px;
        }
    </style>


</head>
<body>
<h1>Crear Nuevo Media</h1>
<a href="/admin/media/listar" class="btn btn-volver">Volver al listado de media</a>
<form action="/admin/media/create" method="POST" enctype="multipart/form-data">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" ><br><br>

    <label for="url">URL:</label>
    <input type="text" id="url" name="url">
    <br><br>

    <label for="imagen">Seleccionar archivo:</label>
    <input type="file" id="imagen" name="imagen" accept="image/*"><br><br>

    <label for="matricula">Matrícula del integrante:</label>
    <select id="matricula" name="matricula" >
        <!-- Opciones generadas dinámicamente desde el backend -->
        {{#each integrantes}}
            <option value="{{matricula}}">{{nombre}} {{apellido}} ({{matricula}})</option>
        {{/each}}
    </select><br><br>

    <label for="id_tmedia">Tipo de Media:</label>
    <select id="id_tmedia" name="id_tmedia" >
        <!-- Opciones generadas dinámicamente desde el backend -->
        {{#each tiposMedia}}
            <option value="{{this.id_tmedia}}">{{this.nombre}}</option>
        {{/each}}
    </select><br><br>


    <label for="activo">Activo:</label>
    <select id="activo" name="activo">
        <option value="1">Activo</option>
        <option value="0">Inactivo</option>
    </select><br><br>

    <input type="submit" value="Crear Media">
</form>
<br>

</body>
</html>


