<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Media</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f5;
            color: #333;
            margin: 0;
            padding: 0;
        }
        h1 {
            background-color: #4b0082;
            color: white;
            padding: 20px;
            text-align: center;
        }
        section {
            padding: 20px;
        }
        form {
            background-color: #e6e6fa;
            padding: 20px;
            border-radius: 5px;
        }
        label {
            display: block;
            margin-top: 10px;
        }
        select, input[type="text"], input[type="radio"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        input[type="submit"], .btn {
            background-color: #9370db;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            display: inline-block;
            text-decoration: none;
            text-align: center;
        }
        input[type="submit"]:hover, .btn:hover {
            background-color: #6a5acd;
        }
        a {
            display: inline-block;
            margin-top: 20px;
            text-align: center;
            color: white;
            text-decoration: none;
        }
        .btn-volver {
            background-color: #4b0082;
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Editar Media</h1>

<section>
    <a href="/admin/media/listar" class="btn btn-volver">Volver al listado de media</a>
    <form action="/admin/media/update/{{media.id}}" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Media</legend>

            <label for="id">Id</label>
            <input id="id" name="id" type="text" value="{{media.id}}" disabled>

            <label for="titulo">Título</label>
            <input id="titulo" name="titulo" type="text" value="{{media.titulo}}">

            <label for="url">URL</label>
            <input id="url" name="url" type="text" value="{{media.url}}">

            <label for="imagen">Seleccionar archivo</label>
            <input id="imagen" name="imagen" type="file" accept="image/*" >

            <label for="matricula">Matrícula</label>
            <select id="matricula" name="matricula">
                {{#each integrantes}}
                    <option value="{{this.matricula}}" {{#if this.selected}}selected{{/if}}>{{this.nombre}} {{this.apellido}}</option>
                {{/each}}
            </select>

            <label for="id_tmedia">Tipo de Media</label>
            <select id="id_tmedia" name="id_tmedia">
                {{#each tiposMedia}}
                    <option value="{{this.id_tmedia}}" {{#if this.selected}}selected{{/if}}>{{this.nombre}}</option>
                {{/each}}
            </select>

            <label for="activo">Activo</label>
            <select id="activo" name="activo">
                <option value="1" {{#if (eq media.activo 1)}}selected{{/if}}>Activo</option>
                <option value="0" {{#if (eq media.activo 0)}}selected{{/if}}>Inactivo</option>
            </select>
        </fieldset>

        <input type="submit" value="Actualizar Media">
    </form>
</section>
</body>
</html>
