<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ingeniería 3</title>
  <style>
    body {
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      padding: 0;
    }

    .barra {
      height: 100%;
      width: 100px;
      position: fixed;
      background-color: #424874;
    }

    .barra h2 {
      color: white;
      text-align: center;
    }

    .barra ul {
      list-style-type: none;
      padding: 2px;
    }

    .barra ul li {
      padding: 10px;
    }

    .barra ul li a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 5px;
    }

    .barra ul li a:hover {
      background-color: #A6B1E1;
      color: #424874;
      padding: 5px;
      border-radius: 5px;
    }

    .contenido {
      margin-left: 100px;
      padding: 20px;
    }

    .contenido header {
      background-image: linear-gradient(to left, rgba(66, 72, 116, 0.8), white);
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
    }

    .contenido h1, .contenido h3 {
      margin: 10px;
    }
    .contenido img {
      width: 20%;
      display: block; 
      margin: 0 auto; 
    }
    .lista ul li a{
      text-decoration: none;
      display: block;
      padding: 5px;
      color: #090a0a;
    }

    footer {
    color: #424874;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
    font-size: 14px;
}
  </style>
</head>
<body>
  <div class="barra">
    <h2>Menú</h2>
    {{> nav}}
    </div>

  <div class="contenido">
    <header>
      <img src="Images/code_bravo.png" alt="">
    </header>
 
     <div class="lista">
  <h1>Integrantes</h1>
  {{#each integrantes}}
  <ul>
    <li><a href="/{{matricula}}/">{{nombre}} {{apellido}} - {{matricula}}</a></li>
  </ul>
  {{/each}}
</div>



  </div>



{{> footer}}
   <!-- <footer>
        <p>Ingenieria del Software-Gabriela Espinola- &copy; 2024</p>
        <a href="https://gitlab.com/gabialarcone/02-Y23715-motor-plantillas"> Repositorio de GitLab</a>
    </footer>-->

</body>
</html>
