<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar Integrante</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #4b0082;
            color: white;
            padding: 20px;
            text-align: center;
        }

        h2 {
            color: #4b0082;
            margin-left: 20px;
        }

        section {
            padding: 20px;
        }

        form {
            background-color: #e6e6fa;
            padding: 20px;
            border-radius: 5px;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        select, input[type="text"], input[type="radio"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"], .btn {
            background-color: #9370db;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            display: inline-block;
            text-decoration: none;
            text-align: center;
        }

        input[type="submit"]:hover, .btn:hover {
            background-color: #6a5acd;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            text-align: center;
            color: white;
            text-decoration: none;
        }

        .btn-volver {
            background-color: #4b0082;
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Integrante</h1>
{{#each integrante}}
<h2>Editar {{matricula}}</h2>
<a href="/admin/integrante/listar" class="btn btn-volver">Volver al listado de integrantes</a>
<section>
    <form action="/admin/integrante/update/{{matricula}}" method="post">
        <fieldset>

                <label for="matricula">Matrícula</label>
                <input type="text" id="matricula" name="matricula" placeholder="Matrícula" value="{{matricula}}" disabled>

                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre" value="{{nombre}}">

                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" name="apellido" placeholder="Apellido" value="{{apellido}}">

                <label for="pagina">Página</label>
                <input type="text" id="pagina" name="pagina" placeholder="Ingrese de vuelta su matricula" value="{{pagina}}" disabled>


                <div style="flex-wrap: nowrap">
                    <label for="activo">Activo</label>
                    <select id="activo" name="activo">
                        <option value="1" {{#if (eq media.activo 1)}}selected{{/if}}>Activo</option>
                        <option value="0" {{#if (eq media.activo 0)}}selected{{/if}}>Inactivo</option>
                    </select>
                </div>
            {{/each}}


        </fieldset>

        <input type="submit" value="Actualizar">
    </form>
</section>
</body>
</html>
