<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listado de Integrantes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #4b0082;
            color: white;
            padding: 20px;
            text-align: center;
        }

        h2 {
            color: #4b0082;
            margin-left: 20px;
        }

        .navigation {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .navigation a {
            background-color: #9370db;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            margin: 0 10px;
        }

        .navigation a:hover {
            background-color: #6a5acd;
        }

        section {
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #8a2be2;
            color: white;
        }

        td {
            background-color: #e6e6fa;
        }

        td a {
            color: #4b0082;
        }

        td img {
            display: block;
            margin: 0 auto;
        }

        i.fas {
            font-size: 20px;
        }

        span {
            display: block;
            margin: 20px 0;
            text-align: center;
            font-weight: bold;
            color: #4b0082;
        }

        .modal {
            display: none; /* Ocultar el modal por defecto */
            position: fixed; /* Posición fija */
            z-index: 1; /* Situar el modal por encima de todo */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto; /* Habilitar el desplazamiento */
            background-color: rgb(0, 0, 0); /* Fondo oscuro */
            background-color: rgba(0, 0, 0, 0.4); /* Transparencia */
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* Centrar verticalmente */
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px; /* Ancho máximo del modal */
            border-radius: 10px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }


    </style>

</head>
<body>
{{#if successMessage}}
    <div class="alert alert-success" style="background-color: #d4edda; border-color: #c3e6cb; color: #155724; padding: 10px; margin-bottom: 15px;">
        {{successMessage}}
    </div>
{{/if}}

    <h1>Integrantes</h1>
        <h2>Listado</h2>
    <nav class="navigation">
        <a href="/admin">Volver</a>
        <a href="/admin/integrante/crear">Crear nuevo</a>


    </nav>

    <section>
        <table>
            <tr>
                <th> 0rden </th>
                <th> Matricula </th>
                <th> Nombre </th>
                <th> Apellido </th>
                <th> Activo </th>
                <th> Detalles </th>
                <th> Acciones </th>


            </tr>

            <tbody>
            {{#each integrantes}}
                <tr>
                    <td> {{nro_orden}} </td>
                    <td> <a href="/admin/integrante/edit/{{matricula}}">{{matricula}} </a></td>
                    <td> {{nombre}} </td>
                    <td> {{apellido}} </td>
                    <td>{{#if activo}}
                        <span>Activo</span>
                    {{else}}
                        <span>Inactivo</span>
                    {{/if}}</td>
                    <td>
                        <button class="view-details" data-matricula="{{this.matricula}}">Ver detalles</button>
                    </td>
                    <td>
                        <form action="/admin/integrante/delete/{{this.matricula}}" method="post">
                            <input type="submit" value="Eliminar">
                        </form>
                    </td>

                </tr>
            {{/each}}
        </table>
        <section>
                {{#if integrantes.length}}
                    <span>Total de integrantes: {{integrantes.length}}</span>
                {{else}}
                    <span>No hay integrantes registrados</span>
                {{/if}}
        </section>

    </section>



<!-- Modal para mostrar los detalles del integrante -->
<div id="integranteModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="integrante-details"></div>
    </div>
</div>

<script>
    document.querySelectorAll('.view-details').forEach(button => {
        button.addEventListener('click', async (e) => {
            const matricula = e.target.getAttribute('data-matricula');
            const response = await fetch(`/admin/integrante/${matricula}`);
            const integrante = await response.json();

            const detailsDiv = document.getElementById('integrante-details');
            detailsDiv.innerHTML = `
                    <h2>Detalles del Integrante</h2>
                    <p>Matrícula: ${integrante.matricula}</p>
                    <p>Nombre: ${integrante.nombre}</p>
                    <p>Apellido: ${integrante.apellido}</p>
                    <p>Activo: ${integrante.activo ? 'Sí' : 'No'}</p>
                `;
            const modal = document.getElementById('integranteModal');
            modal.style.display = 'block';
        });
    });

    document.querySelector('.modal .close').addEventListener('click', () => {
        document.getElementById('integranteModal').style.display = 'none';
    });

    window.onclick = function(event) {
        const modal = document.getElementById('integranteModal');
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    };
</script>

</body>
</html>

